body {
    gap: 0;
    background-color: #3d087bde;
    
  }

  
  
  #outer-container {
    margin: 20px auto;
    width: 100%;
    /* height: 600px; */
  }
  
  .upper-container {
    width: 100%;
    /* height: 135px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .clock-box {
    width: 265px;
    height: 100px;
    left: 250px;
    top: 20px;
    background-image: url(./images/clock_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .outer-time {
    width: 550px;
    height: 130px;
    position: relative;
    left: 50px;
  }
  .time-box {
    width: 480px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    z-index: 3;
  }
  
  .hidden-box1 {
    width: 330px;
    height: 100px;
    position: absolute;
    right: 150px;
    top: 10px;
    border-radius: 10px;
    background-color: white;
    z-index: 2;
    opacity: 0.6;
  }
  
  .hidden-box2 {
    width: 290px;
    height: 100px;
    position: absolute;
    right: 170px;
    top: 20px;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
    opacity: 0.3;
  }
  
  .time {
    font-size: 25px;
    font-weight: bolder;
    color: rebeccapurple;
    margin-left: 20px;
    margin-top: 40px;
  }
  
  .hours-box {
    width: 70px;
    height: 70px;
    background-color: #f6e2ff;
    position: absolute;
    top: 15px;
    left: 100px;
    text-align: center;
  }
  
  #hours {
    font-size: 30px;
    color: blueviolet;
  }
  .hours1 {
    font-size: 25px;
    margin-top: 2px;
    color: blueviolet;
  }
  .dot1 {
    margin-left: 180px;
    margin-top: -50px;
    font-size: 30px;
  }
  
  .min-box {
    width: 70px;
    height: 70px;
    background-color: #f6e2ff;
    position: absolute;
    left: 200px;
    top: 15px;
    text-align: center;
  }
  
  #mins {
    font-size: 30px;
    color: blueviolet;
  }
  .min1 {
    font-size: 25px;
    margin-top: 2px;
    color: blueviolet;
  }
  .dot2 {
    margin-left: 280px;
    margin-top: -64px;
    font-size: 30px;
  }
  
  .sec-box {
    width: 70px;
    height: 70px;
    background-color: #f6e2ff;
    position: absolute;
    left: 300px;
    top: 15px;
    text-align: center;
  }
  #secs {
    font-size: 30px;
    color: blueviolet;
  }
  .sec1 {
    font-size: 25px;
    margin-top: 2px;
    color: blueviolet;
  }
  .am-pm {
    width: 70px;
    height: 70px;
    background-image: url(./images/AM_svg.png);
    position: absolute;
    left: 390px;
    top: 15px;
    text-align: center;
  }
  #am {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 20px;
    left: 10px;
  }
  
  .middle-container {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .middle-left-container {
    width: 600px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .left-container {
    width: 38vw;
    height: 300px;
    /* width: 580px;
    height: 300px; */
    background-color: white;
    border-radius: 10px;
    margin-right: 50px;
  }
  .right-container {
    width: 20%;
    height: 50%;
    /* border: 1px solid black; */
    background-color: white;
  }
  #right-inner1 {
    width: 499px;
    height: 80px;
    /* border: 1px solid black; */
    font-size: 30px;
    font-weight: bold;
    color: rebeccapurple;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
  }
  #right-inner2 {
    width: 499px;
    height: 349px;
    background-image: url("./images/51zwIl630bL._SL1000_.jpg");
    background-size: cover;
    background-position: center;
    position:relative;
    right:5%;
  }
  .set-time {
    width: 250px;
    height: 50px;
    background-image: linear-gradient(to right, #8e53f0, #fc5eff, #f1a7c5);
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
  }
  .set-time:hover {
    cursor: pointer;
    background-image: linear-gradient(to left, #8e53f0, #fc5eff, #f1a7c5);
  }
  .wakeup {
    width: 580px;
    height: 60px;
  }
  .img1 {
    width: 40px;
    height: 40px;
    background-image: url(./images/wake_up.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    top: 20px;
    margin-left: 10px;
  }
  .text1 {
    position: relative;
    left: 60px;
    top: -40px;
    font-size: 25px;
    color: blueviolet;
  }
  .line1 {
    width: 3vw;
    height: 35px;
    background-color: white;
    margin-left:-7px;
  }
  .line1-box {
    width: 40px;
    height: 30px;
    border-left: 2px solid gray;
    margin-left:26px;
  }
  .lunch {
    width: 580px;
    height: 60px;
  }
  .img2 {
    width: 40px;
    height: 40px;
    background-image: url(./images/lunch_time.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-top: 12px;
    margin-left: 10px;
  }
  .text2 {
    margin-left: 60px;
    margin-top: -35px;
    font-size: 25px;
    color: blueviolet;
    display:inline-block;
    position:relative;
    top:-40%;
  }
  .line2 {
    width: 580px;
    height: 35px;
    background-color: white;
  }
  .line2-box {
    width: 40px;
    height: 30px;
    border-left: 2px solid gray;
    margin-left: 26px;
  }
  .nap {
    width: 580px;
    height: 60px;
  }
  .img3 {
    width: 40px;
    height: 40px;
    background-image: url(./images/nap_time.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 18px;
  }
  .text3 {
    margin-left: 60px;
    margin-top: -35px;
    font-size: 25px;
    color: blueviolet;
    display:inline-block;
    position:relative;
    top:-50%;
  }
  #wake-up-time {
    width: 180px;
    height: 40px;
    position: absolute;
    left: 25vw;
    top: 180px;
    border-radius: 10px;
  }
  #lunch-time {
    width: 180px;
    height: 40px;
    position: absolute;
    left: 25vw;
    /* top: 270px; */
    top:46%;
    border-radius: 10px;
  }
  #nap-time {
    width: 180px;
    height: 40px;
    position: absolute;
    left: 25vw;
    /* top: 370px; */
    top:62%;
    border-radius: 10px;
  }
  .dynamic-box {
    width: 300px;
    min-height: 0px;
    background-color: #8A11BF;
    border: none;
    margin-top: -130px;
    border-radius: 10px;
    padding:10px;
    position: relative;
    top: 10px;
    left:3%;
    display:none;
    
  }
  .div1,
  .div2,
  .div3 {
    width: 250px;
    min-height: 0px;
    margin-top: 5px;
    font-size: 20px;
    border: none;
    color:white;
    
  }